@keyframes onAutoFillStart {
    from { /* Define a starting state */ }
    to { /* Define an ending state */ }
  }
  
  input:-webkit-autofill {
    animation-name: onAutoFillStart;
  }

.signup-div{
    margin-top: 10vh;
    margin-left: 35vw;
    width: 400px;
    height: 100%;
    background-color: #dad1d1;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 10px;
}

.error{
    color: rgba(234, 19, 19, 0.842);
    display: none;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
}

.signup-form{
    padding: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    border-radius: 5px;
    transition: all 0.1s ease-in-out;
}

.signup-form h1{
    margin: 0px 0px;
    padding: 0px;
}

.form-label{
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 600;
}

.form-input{
    width: 250px;
    height: 30px;
    margin-bottom: 5px;
    padding-left: 10px;
    border: none;
    border-bottom:2px rgb(111, 111, 111) solid ;
    color: #242424;
    background-color: #dfdadad7;
    transition: border 1s;
}

.form-input:focus{
    border: 1px rgb(87, 86, 86) solid;
    border-radius: 10px;
    background-color: #e1e1e1;
    outline: none;
}

.role-label{
    padding: 5px 0px;
    font-size: 14px;
    font-weight: 400;
}


form select{
    font-family: 'Times New Roman', Times, serif;
    padding: 2px;
    background-color: #dad1d1;
    color: #242424;
    font-weight: 400;
}

.submit-button{
    width: 90%;
    height: 30px;
    border: none;
    border-radius: 15px;
    color: #dad1d1;
    font-weight: 500;
    background-color: #242424;
    align-self: center;
}

.submit-button:disabled{
    opacity: 85%;
}

.navigation-link{
    margin:40px 0px ;
    color: #2361b7;
    font-weight: 400;
    font-size: 14px;
}

.navigation-link span{
    color: #11366b;
    font-weight: 600;
    padding-left: 5px;
    cursor: pointer;
}

.autocomplete{
    margin: 5px;
    position: relative;
    width: 3px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color:  #dad1d1;
}
.autocomplete input{
    width: 5px;
    border: none;
    color:  #dad1d1;
    background-color: #dad1d1;
}
  
.cover{
    width: 30px;
    height: 20px;
    background-color: #dad1d1;
    position: absolute;
}

.login-div{
  margin-top: 5vh;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-div img {
    margin: 20px;
    padding: 0px;
}
.login-div h1 {
    margin: 0px 0px 20px 0px;
    padding: 0px;
}
.login-form-background{
    width: 350px;
    height: 550px;
    background-color: #dad1d1;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.login-error{
    color: rgba(234, 19, 19, 0.842);
    display: none;
    font-size: 12px;
    padding: 0px;
    margin: 0px 0px 12px 0px;
}

/* Loading animation image and div styling */
.loading-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loading-div img{
    height: 50px;
    width: 50px;
    margin:10px;
    margin-top: 45dvh;
}


/* Customer Dashboard Styling */

.customer-dashboard-header{
    width: 100%;
    min-width: 900px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color:  #dad1d1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.customer-dashboard-header h2{
    padding-left: 8px;
    font-size: 15px;
    color: rgb(235, 90, 60);
}


.logo-div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-logo{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 10px 0px 10px 20px;
    justify-self: flex-start;
}

.nav-div{
    display: flex;
}

.nav-item{
    margin: 0px 10px;
    padding: 5px 5px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
}

.nav-tail {
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0px;
    font-weight: 600;
}

.header-cart-info{
    border-radius: 50%;
    position: relative;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.header-cart-info img{
    width: 60px;
    height: 60px;
    padding: 0px;
}


.cart-count-div{
    position: absolute;   
    width: 30px;
    height: 20px;
    top: 19px;
    left: 20px;
    font-size: 12px;
    font-weight: 800;
    text-align: center;
    color: #EB5A3C;
}

.profile-icon-div{
    display: flex;
    height: 50px;
    align-items: center;
    padding:0px 50px 0px 0px ;
    background-color: #dad1d1;
    position: relative;
    z-index: 2;
}
.profile-icon-div p{
    color: #000000;
    cursor: default;
}

.profile-icon{
    width: 50px;
    height: 30px;
}

.profile-dropdown {
    position: relative;
}

.options-div{
    position: absolute;
    right: 10px;
    width: 150px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-dropdown ul{
    width: 100%;
    padding: 0px;
    list-style: none;
}

.profile-dropdown li{
    background-color: #b3b2b2;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    list-style: none;
    margin: 5px 0px;
    padding: 5px;
}

/* Styling for produts  */

.product-div {
    width: 99%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 5px;
    margin-top: 65px;
}

@media (max-width: 1320px) {
    .product-div {
      grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 1000px) {
    .product-div {
      grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 600px) {
    .product-div {
      grid-template-columns: repeat(3, 1fr);
    }
}


.product-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 5px;
    background-color: #ffffff;
    border: 1px solid #aeaeae8f;
    box-shadow: 1px 1px 5px #848383;
}

.product-image{
    width: 180px;
    height: 400px;
    object-fit: fill;
}
.product-card h3 {
    color: #EB5A3C;
    padding: 10px 0px;
    margin: 0px;
}

.product-card p {
    padding: 0px;
    margin: 5px 0px;
    /* color: white; */
}

.product-price {
    font-weight: 600;
    color: rgb(13, 14, 13);
}

.product-price span {
    color: rgb(63, 207, 63);
}

.add-to-cart-button{
    height: 30px;
    width: 100px;
    padding: 5px;
    margin: 5px;
    background-color: #000000;
    border: none;

}



/* Styling for cart page */
.cart-main-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.cart-page-header{
    width: 100%;
    min-width: 900px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color:  #dad1d1;
}

.cart-page-header h2{
    padding-left: 8px;
    font-size: 15px;
    color: rgb(235, 90, 60);
}


.cart-body {
    width: 90%;
    display: flex;
    flex-direction: row;
}

.cart-body-headding{
    align-self: flex-start;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: default;
}
.cart-body-headding img {
    height: 30px;
    width: 40px;
    display: inline-block;
}

.home-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.cart-body-headding p{
    color: #b75223;
    margin: 10px 0px;
}

.home-nav p{
    padding-left: 10px;
    color: #bab245;
    font-weight: 600;
}


.items-summary-div {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cart-items-div{
    width: 90%;
    height: 350px;
    overflow-y: auto;
    margin: 10px 10px 10px 10px;
    border-radius: 30px;

    scrollbar-width: thin;
    scrollbar-color: #888 #f0f0f0;
}

.cart-items-div ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
/* Custom scrollbar for Webkit (Chrome, Edge, Safari) */
.cart-items-div::-webkit-scrollbar {
    width: 10px;
}

.cart-items-div::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

.cart-items-div::-webkit-scrollbar-track {
    background: #f0f0f0;
}


.cart-item-card {
    background-color: #ffffff;
    width: 80%;
    justify-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #848383;
}

.cart-item-img{
    width: 100px;
    height: 100px;
    padding: 10px;
    object-fit: contain;
}

.item-details{
    color: rgb(3, 3, 3);
    width: 120px;
}

.quantity-div{
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.quantity-div div{
    width: 30px;
    height: 30px;
    background-color: rgb(200, 192, 192);
    border-radius: 2px;
    font-size: 20px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity-div p{
    width: 35px;
    height: 22px;
    background-color: rgba(228, 227, 227, 0.695);
    border-radius: 2px;
    margin: 0px 4px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-item-button{
    background-color: inherit;
    border: none;
    padding: 0px 10px;
}

.delete-item-button img{
    height: 35px;
    width: 35px;
    border: none;
    padding: 0;
    margin: 0px;
    object-fit: contain;
}

/* styling for order summary */
.order-summary-div{
    width: 60%;
    height: 300px;
    background-color:  #dfe1e4;
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 5px #848383;
}

.order-summary-div h2 {
    color: #47494a;
    align-self: flex-start;
    margin-top: 20px;
    margin-left: 30px;
}


.orders-summary-list-div {
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.order-summary-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 40px;
    margin: 8px 0px;
    color: #47494a;
}


.place-order-button {
    appearance: none; /* Reset default button styling */
    background: rgb(95, 95, 95);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    max-width: 400px;
    width: 90%;
    height: 12%;
    max-height: 40px;
    margin: 25px;
}


@media (max-width: 1250px){
    .cart-body {
        flex-direction: column;
    }

    .cart-items-div{
        align-self: center;
        width: 1000px;
    }

    .cart-item-card{
        justify-content: space-evenly ;
    }

    .order-summary-div{
        align-self: center;
        margin-bottom: 50px;
    }


}


/* Styling for Orders page */
.orders-main-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.orders-page-header{
    width: 100%;
    min-width: 900px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color:  #dad1d1;
}
.orders-page-header h2{
    padding-left: 8px;
    font-size: 15px;
    color: rgb(235, 90, 60);
}


.orders-body {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.orders-body-heading{
    width: 90%;
    align-self: flex-start;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: default;
}
.orders-body-heading img {
    height: 30px;
    width: 40px;
    display: inline-block;
}
.orders-body-heading p{
    color: #b75223;
}

.order-list-div{
    width: 99%;
    height:500px;
    margin: 8px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly; 
    align-content: flex-start; 
    overflow-y: auto;

    scrollbar-width: thin;
    scrollbar-color: #888 #f0f0f0;
}

/* Custom scrollbar for Webkit (Chrome, Edge, Safari) */
.order-list-div::-webkit-scrollbar {
width: 10px;
}

.order-list-div::-webkit-scrollbar-thumb {
background-color: #888;
border-radius: 5px;
}

.order-list-div::-webkit-scrollbar-track {
background: #f0f0f0;
}

.order-item-card{
    height: 300px;
    background-color: #ffffff;
    border-radius: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 1px 1px 5px #848383;
}

.order-item-heading{
    width: 90%;
    height: 50px;
    background-color: #67696b;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.order-item-heading p{
    color: #ffff;
    text-align: center;
    margin-top: 10px;
    font-weight: 400;
}


.order-item-body{
    width: 500px;
    height: 250px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

}
.order-item-card img{
    width: 150px;
    height: 200px;
    align-self: center;
    object-fit: fill;
    margin-left: 20px;
}

.order-item-description{
    height: 200px;
    width: 300px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@media (max-width: 1250px){
    .order-list-div{
        flex-direction: column;
    }
}

.order-item-description h3{
    color: #191a19;
}

.order-item-description h4{
    font-size: 12px;
    color: rgb(76, 76, 76);
    margin: 10px;
}

.order-item-description span{
    color: #191a19;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.order-item-description p{
    margin: 5px 0px;
    color: #6f6f6f;
    font-weight: 600;
}

/* profile page styling */

.profile-main-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-page-header{
    width: 100%;
    min-width: 900px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color:  #dad1d1;
    z-index: 1;
}

.profile-page-header h2{
    padding-left: 8px;
    font-size: 15px;
    color: rgb(235, 90, 60);
}

.profile-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.profile-form-div {
    width: 350px;
    height: 400px;
    background-color: #dad1d1;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-form-div form {
    height: auto;
}
.profile-form-div form input{
    font-size: 15px;
}
.profile-form-div form label{
    font-size: 15px;
    margin: 5px;
}

.show-change-password-button{
    width: 200px;
    height: 40px;
    border-radius: 50px;
    background-color: #EB5A3C;
    border: none;
    font-weight: 600;
    box-shadow: 1px 1px 5px #848383;
    position: absolute;
    bottom: -60px;
    z-index: 2;

}

.password-change-div {
    width: 350px;
    height: 400px;
    background-color: #dad1d1;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50px;
    z-index: 1;
}

.password-change-div form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.password-change-div form label{
    align-self: flex-start;
    margin: 5px;
    font-size: 15px;
}

.password-change-div form input {
    width: 250px;
    height: 30px;
    margin-bottom: 5px;
    padding-left: 10px;
    border: none;
    border-bottom:2px rgb(111, 111, 111) solid ;
    color: #242424;
    background-color: #dfdadad7;
    transition: border 1s;
}

.change-password-button{
    margin: 15px;
    margin-top: 40px;
    width: 200px;
    height: 40px;
    border-radius: 50px;
    background-color: #EB5A3C;
    border: none;
    font-weight: 600;
    box-shadow: 1px 1px 5px #848383;

}

.close-change-pass-button{
    height: 25px;
    width: 25px;
    text-align: center;
    position: absolute;
    top: -8px;
    right: -8px;
    border-radius: 5px;
    border: none;
}

.password-change-error{
    color: rgba(250, 0, 0, 0.842);
    display: none;
    font-size: 12px;
    padding: 4px;
    margin: 5px;
    font-size: 14;
    font-weight : 600;
    border-radius: 4px;
    border: 1px solid  rgba(250, 0, 0, 0.842);
    box-shadow: 2px 3px 4px rgb(126, 78, 78);
}